<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"
>

<table>
    <thead>
        <tr>
            <th>SEQ</th>
            <th>고객 ID</th>
            <th>거래일시</th>
            <th>상품명</th>
            <th>단가</th>
            <th>수량</th>
            <th>합계</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>99</td>
            <td>B001</td>
            <td>2021-10-21 11:12:00</td>
            <td>아이폰 13</td>
            <td>1,500,000</td>
            <td>10</td>
            <td>15,000,000</td>
        </tr>
        <tr>
            <td>96</td>
            <td>B007</td>
            <td>2021-10-21 12:22:12</td>
            <td>갤럭시 폴드</td>
            <td>1,200,000</td>
            <td>100</td>
            <td>120,000,000</td>
        </tr>
    </tbody>
</table>



</html>