
div.title_box  {
    margin: 0 auto;
    width: 80%;
    padding: 8px;
    text-align: center;
    background-color: cadetblue;
}

div.title_box p {

    font-weight: bold;
}

form.sub_box {
    margin: 0 auto;
    margin-top: 30px;
    width: 80%;


}

input, textarea {
    padding: 10px;
    margin: 10px;
    border: 2px solid lightslategray;
    border-radius: 3px;

}

form.sub_box div {

    width: 75%;
    display: flex;
    margin: 0 auto;
}

form.sub_box div:nth-of-type(1)  input{

    width: 50%;
}

form.sub_box div:nth-of-type(2)  input:nth-of-type(1) {
    width: 46%;
}

form.sub_box div:nth-of-type(3) input ,div:nth-of-type(4) textarea    {
    width: 100%;
}


div.btn_box {
    justify-content: right;

    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;



}

div.btn_box button {
    width: 10%;
    margin-left: 10px ;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;

}

button.btn_save {

    background-color: cornflowerblue;
}

button.btn_re {

    background-color: midnightblue;
}

button.btn_list {
    background-color: darkblue;
}
